{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="slider">
                <img src="/static/assets/img/banners/1.png" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="home-page-info">
                <div class="info-items info-i-1"><span>Доставка <br> до вашего офиса</span></div>
                <div class="info-items info-i-2"><span> Низкие <br> цены </span></div>
                <div class="info-items info-i-3"><span>Гарантия <br> качества</span></div>
                <div class="info-items info-i-4"><span>Консультация <br> специалистов</span></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="brands">
                <a target="_blank" href="https://www.canon.ru/">
                    <div class="brand"><img src="/static/assets/img/brands/Canon_logo_vector%202.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.microsoft.com/ru-kz">
                    <div class="brand"><img src="/static/assets/img/brands/microsoft%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.hp.com/kz-ru/home.html">
                    <div class="brand"><img src="/static/assets/img/brands/600px-HP_New_Logo_2D%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.samsung.com/kz_ru/">
                    <div class="brand"><img src="/static/assets/img/brands/Sams%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.lenovo.com/kz/ru/">
                    <div class="brand"><img src="/static/assets/img/brands/Lenovo-logo%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.oppo.com/kz/">
                    <div class="brand"><img src="/static/assets/img/brands/oppo%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.lg.com/kz">
                    <div class="brand"><img src="/static/assets/img/brands/1280px-LG_Logo_Slogan_3d%201.svg" alt="">
                    </div>
                </a>
                <a target="_blank" href="https://epson.kz/">
                    <div class="brand"><img src="/static/assets/img/brands/2560px-Epson_logo%201.svg" alt=""></div>
                </a>
                <a target="_blank" href="https://www.huawei.com/kz/">
                    <div class="brand"><img
                            src="/static/assets/img/brands/png-transparent-logo-huawei-customer-service-centre-华为-huawei-y-6-2018-dual-sim-4g-16gb-blue-hardware-electronic-logo-oppo-emblem-text-logo%201.svg"
                            alt=""></div>
                </a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer-content">
                    <h3>Компания</h3>
                    <ul>
                        <li><a href="">Государственным организациям</a></li>
                        <li><a href="">Корпоративным клиентам</a></li>
                        <li><a href="">Инвесторам</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Клиентам</h3>
                    <ul>
                        <li><a href="">Личный Кабинет</a></li>
                        <li><a href="">Оплата</a></li>
                        <li><a href="">Доставка</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Помощь </h3>
                    <ul>
                        <li><a href="">Как оформить заказ</a></li>
                        <li><a href="">Возврат товара</a></li>
                        <li><a href="">Сервис центры</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Контакты</h3>
                    <ul>
                        <li><img src="/static/assets/img/footer-contacts/Vector.svg" alt=""><a href="">+ 7 708 702 06
                            26 </a></li>
                        <li><img src="/static/assets/img/footer-contacts/Vector-1.svg" alt=""><a href="">+ 7 708 708 70
                            06</a></li>
                        <li><img src="/static/assets/img/footer-contacts/Group.svg" alt=""><a href="">info@ses.kz</a>
                        </li>
                        <li><img src="/static/assets/img/footer-contacts/geo_ui-earth-west.svg" alt=""><a href="">050000,
                            Казахстан, г. Алматы Манаса 34/1</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Оставайтесь на связи</h3>
                    <div class="social-media">
                        <a href="" class="footer-soc telegram"></a>
                        <a href="" class="footer-soc instagram"></a>
                        <a href="" class="footer-soc facebook"></a>
                        <a href="" class="footer-soc youtube"></a>
                        <a href="" class="footer-soc twitter"></a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="footer-footer">
                <div class="f-f-items"><a href="">© 2021 Smart Easy Solution</a></div>
                <div class="f-f-items"><a href="">Политика конфиденциальности</a></div>
                <div class="f-f-items"><a href="">Публичная оферта</a></div>
                <div class="f-f-items"><a href="">Карта сайта</a></div>
            </div>
        </div>
    </footer>
        <div class="modal fade" id="registrationEndModal" tabindex="-1" aria-labelledby="registrationEndModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationEndModalLabel">Регистрация</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="registrationEndModal" aria-label="Close" onclick="registrationEndModalToggle()"></button>
                    </div>
                    <div class="modal-body">
                        Спасибо что зарегистрировались у нас! Когда ваш аккаунт пройдет подтверждение мы вас уведомим !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="registrationEndModalToggle()">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block additional_script %}
    <script src="/static/assets/scripts/registration_end.js"></script>
{% endblock %}